{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

{% include 'navbar.html' %}

{% if user.is_authenticated %}

<div class="container">

    <h1>New Album</h1>

    <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
    </form>

</div>

{% else %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <p>Please <a class="btn btn-light" href="{% url 'loginuser' %}">Sign In</a> to add an album to your collection</p>
        </div>
    </div>

{% endif %}

{% include 'footer.html' %}

{% endblock %}